<!DOCTYPE html>
<!--[if IE 8]><html class="no-js ie-8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" lang="en" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/terms/"
    xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:og="http://ogp.me/ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
    xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:sioct="http://rdfs.org/sioc/types#" xmlns:skos="http://www.w3.org/2004/02/skos/core#"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema#">
<!--<![endif]-->

<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1" />
    <link rel="canonical" href="https://www.harvard.edu" itemprop="url" />
    <link rel="shortcut icon" type="image/ico" href="/sites/all/themes/hedu2015/assets/img/favicon.ico?v=2018" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon-precomposed" href="/sites/all/themes/hedu2015/assets/img/apple-touch-icon-144x144.png" />
    <meta name="msapplication-TileImage" content="/sites/all/themes/hedu2015/assets/img/apple-touch-icon-144x144.png" />
    <meta name="msapplication-TileColor" content="#222222" />
    <title itemprop="name">Harvard University</title>
    <meta name="robots" content="index,follow,NOODP" />
    <meta name="description" Content="Harvard University is devoted to excellence in teaching, learning, and research, and to developing leaders in many disciplines who make a difference globally. Harvard University is made up of 11 principal academic units." />
    <meta name="keywords" Content="Harvard University, College, Education, Innovation, Teaching, Learning" />
    <meta name="node_id" Content="60293" />
    <meta property="fb:admins" content="593072576,599799799,662979311,613602264" />
    <meta property="fb:page_id" content="105930651606" />
    <meta property="fb:app_id" content="135898969862440" />
    <meta property="twitter:account_id" content="1491443782" />
    <meta name="twitter:site" content="@harvard">
    <meta name="twitter:creator" content="@harvard">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:site_name" content="Harvard University" />
    <meta property="og:type" content="university" />
    <meta property="og:title" content="Harvard University" />
    <meta property="og:url" content="http://www.harvard.edu/" />
    <meta property="og:description" content="Harvard University is devoted to excellence in teaching, learning, and research, and to developing leaders in many disciplines who make a difference globally. Harvard University is made up of 11 principal academic units." />
    <meta property="og:image" content="https://www.harvard.edu/sites/default/files/default_images/harvard-social1200.jpg" />

    <link rel="stylesheet" href="/sites/all/themes/hedu2015/assets/css/harvard.min.css?v=20180820" />

    <link href="/sites/all/themes/hedu2015/assets/css/print.css" rel="stylesheet" media="print" type="text/css" />
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
      <link href="/sites/all/themes/hedu2015/assets/css/ie.min.css" rel="stylesheet">
    <![endif]-->
</head>
<body id="body" class="homepage">
    <div id="page" class="page">
        <header role="banner" id="headerArea" class="header-base ">

            <h1 class="harvard-heading">
                <a href="/" class="harvard-heading__link">
                    <span class="is-visually-hidden">
                        Harvard University
                    </span>
                </a>
            </h1>
            <nav role="navigation" class="main-nav" id="siteNavigation">
                <div class="nav-drawer">
                    <div class="nav-group nav-group--consistent">
                        <ul class="clearfix">
                            <li class="nav-left-half">
                                <ul role="presentation" class="clearfix">
                                    <li class="has-drop-nav">
                                        <a href="/about-harvard" class="">
                                            About
                                            <span class="lg-nav-txt">
                                                Harvard
                                            </span>
                                        </a>
                                        <ul class="list--drop-nav">
                                            <li class="first"><a href="/about-harvard/harvard-glance" class="first">Harvard
                                                    at a Glance</a></li>
                                            <li class=""><a href="/president" class="">Harvard's President</a></li>
                                            <li class=""><a href="/about-harvard/harvards-president-leadership" class="">Harvard's
                                                    Leadership</a></li>
                                            <li class=""><a href="/about-harvard/academic-experience" class="">Academic
                                                    Experience</a></li>
                                            <li class=""><a href="/about-harvard/administrative-offices" class="">Administrative
                                                    Offices</a></li>
                                            <li class=""><a href="/about-harvard/directories" class="">Directories</a></li>
                                            <li class=""><a href="http://community.harvard.edu/" class="">Harvard in
                                                    the Community</a></li>
                                            <li class=""><a href="http://news.harvard.edu/gazette/" class="">News</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-drop-nav">
                                        <a href="/admissions-aid">
                                            Admissions
                                            <span class="lg-nav-txt">
                                                &amp; Aid
                                            </span>
                                        </a>
                                        <ul class="list--drop-nav">
                                            <li class="first"><a href="/admissions-aid#titletop" class="first">Undergraduate</a></li>
                                            <li class=""><a href="/admissions-aid#grad" class="">Graduate &
                                                    Professional Schools</a></li>
                                            <li class=""><a href="/admissions-aid#continue" class="">Continuing
                                                    Education</a></li>
                                            <li class="last"><a href="/admissions-aid#summer" class="last">Summer
                                                    Programs</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-right-half">
                                <ul role="presentation" class="clearfix">
                                    <li class="has-drop-nav">
                                        <a href="/schools">
                                            Schools
                                        </a>
                                        <ul class="list--drop-nav">
                                            <li class="first"><a href="http://www.hbs.edu/" class="first">Business</a></li>
                                            <li class=""><a href="http://college.harvard.edu" class="">College</a></li>
                                            <li class=""><a href="http://www.dce.harvard.edu/" class="">Continuing
                                                    Education</a></li>
                                            <li class=""><a href="http://www.hsdm.harvard.edu/" class="">Dental</a></li>
                                            <li class=""><a href="http://www.gsd.harvard.edu/" class="">Design</a></li>
                                            <li class=""><a href="http://www.hds.harvard.edu/" class="">Divinity</a></li>
                                            <li class=""><a href="http://www.gse.harvard.edu/" class="">Education</a></li>
                                            <li class=""><a href="http://seas.harvard.edu/" class="">Engineering</a></li>
                                            <li class=""><a href="http://www.fas.harvard.edu/" class="">Faculty of Arts
                                                    & Sciences</a></li>
                                            <li class=""><a href="http://www.hks.harvard.edu/" class="">Government</a></li>
                                            <li class=""><a href="http://www.gsas.harvard.edu/" class="">Graduate
                                                    School</a></li>
                                            <li class=""><a href="http://www.law.harvard.edu/index.html" class="">Law</a></li>
                                            <li class=""><a href="http://hms.harvard.edu/" class="">Medical</a></li>
                                            <li class=""><a href="http://www.hsph.harvard.edu/" class="">Public Health</a></li>
                                            <li class="last"><a href="http://www.radcliffe.edu/" class="last">Radcliffe
                                                    Institute</a></li>
                                        </ul>
                                    </li>
                                    <li class="has-drop-nav">
                                        <a href="/on-campus">
                                            On Campus
                                        </a>
                                        <ul class="list--drop-nav">
                                            <li class="first"><a href="/on-campus/arts-and-humanities" class="first">Arts
                                                    and Humanities</a></li>
                                            <li class=""><a href="http://www.gocrimson.com/" class="">Athletics</a></li>
                                            <li class=""><a href="/on-campus/commencement" class="">Commencement</a></li>
                                            <li class=""><a href="http://hr.harvard.edu/jobs/" class="">Employment</a></li>
                                            <li class=""><a href="/events" class="">Events</a></li>
                                            <li class=""><a href="http://harvardx.harvard.edu/" class="">HarvardX</a></li>
                                            <li class=""><a href="http://library.harvard.edu/" class="">Library</a></li>
                                            <li class=""><a href="/on-campus/museums" class="">Museums</a></li>
                                            <li class=""><a href="/on-campus/research" class="">Research</a></li>
                                            <li class="last"><a href="/on-campus/visit-harvard" class="last">Visit
                                                    Harvard</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-group nav-group--callouts">
                        <ul class="clearfix">
                            <li class="nav-left-half">
                                <ul role="presentation" class="clearfix">
                                    <li>
                                        <a href="http://news.harvard.edu/gazette/">
                                            Gazette News
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/events">
                                            Events
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-right-half">
                                <ul role="presentation" class="clearfix">
                                    <li>
                                        <a href="/on-campus/visit-harvard" class="">
                                            Visit
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://alumni.harvard.edu/givenow">
                                            Give
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="list-clean">
                        <ul class="nav-group nav-group--top-bar">
                            <li class="first"><a href="/faculty" class="first">Faculty</a></li>
                            <li class=""><a href="/staff" class="">Staff</a></li>
                            <li class=""><a href="/students" class="">Students</a></li>
                            <li class=""><a href="http://alumni.harvard.edu" class="">Alumni</a></li>
                            <li class=""><a href="/parents" class="">Parents</a></li>
                            <li class=""><a href="/on-campus/visit-harvard" class="">Visitors</a></li>
                            <li class="last"><a href="/media-relations" class="last">Media</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <form role="search" id="searchArea" class="search-area" method="get" action="/searches/">
                <label for="siteSearch">
                    <span class="is-visually-hidden">
                        Search:
                    </span>
                </label>
                <input type="search" name="searchtext" id="searchSite" class="input-search" aria-label="search"
                    placeholder="What can we help you find?" />
                <button type="button" class="btn--mobile-site-search">
                    <span class="is-visually-hidden">
                        Open Search
                    </span>
                </button>
            </form>
        </header>

        <main role="main" id="mainArea" class="main-base">
            <div class="view view-annoucement view-id-annoucement view-display-id-block_for_homepage view-dom-id-0262d71f514bdf74c6b4d341697a4a81">
            </div>
            <section class="stitle-home-primary-feature c-bg-crimson c-txt-white card-callout-media card-callout-media--right"
                data-moduletitle="home-primary-feature">
                <div class="wrapper wrapper--no-pad card card--nid-10706411 bg-tint clearfix">
                    <div class="card-callout-media__media img-callout-narrow">
                        <a href="https://news.harvard.edu/gazette/story/2018/11/two-harvard-students-among-32-rhodes-scholars-for-2019/">
                            <img src="https://www.harvard.edu/sites/default/files/feature_item_media/Rhodes_900x300.jpg"
                                alt="Brittany Ellis and Jin K. Park" class="img-callout-narrow" />
                        </a>
                    </div>
                    <div class="card-callout-media__text">
                        <h2 class="txt-h1-alt">
                            <a href="https://news.harvard.edu/gazette/story/2018/11/two-harvard-students-among-32-rhodes-scholars-for-2019/">The
                                thrill of winning a Rhodes</a>
                        </h2>
                        <p class="txt-h6">
                        </p>
                        <p class="">
                            <p>Brittany Ellis and Jin K. Park are Oxford-bound after being named Rhodes Scholars</p>
                        </p>
                        <a href="https://news.harvard.edu/gazette/story/2018/11/two-harvard-students-among-32-rhodes-scholars-for-2019/"
                            class="btn btn--reverse">
                            Read story
                        </a>
                    </div>
                    <div class="card-callout-media__media--right">
                        <a href="https://news.harvard.edu/gazette/story/2018/11/two-harvard-students-among-32-rhodes-scholars-for-2019/">
                            <img src="https://www.harvard.edu/sites/default/files/feature_item_media/Rhodes_900x600.jpg"
                                alt="Brittany Ellis and Jin K. Park" class="img-callout-wide" />
                        </a>
                    </div>
                </div>
            </section>
            <section class="stitle-home-secondary-feature c-bg-white c-txt-dark padding-sm" data-moduletitle="home-secondary-feature">
                <div class="wrapper">
                    <div class="grid grid--3 grid--3a">
                        <div class="w-33 w-100--m">
                            <div class="card card--nid-10764221 card--gazette gz_national c-txt-dark card--media-top ">
                                <div class="card__media card__media--img">
                                    <a href="https://news.harvard.edu/gazette/story/2018/11/harvards-joe-allen-explains-health-threat-in-calif-wildfire-smoke/">
                                        <img src="https://www.harvard.edu/sites/default/files/feature_item_media/CAFires_600.jpg"
                                            alt="The Camp Fire&#039;s massive plume over the Sacramento Valley" class="img-sm" />
                                        <img src="https://www.harvard.edu/sites/default/files/feature_item_media/CAFires_300.jpg"
                                            alt="The Camp Fire&#039;s massive plume over the Sacramento Valley" class="img-lg" />
                                    </a>
                                </div>
                                <div class="card__content">
                                    <div class="card__content__heading">
                                        <span class="social-icon">Gazette</span>
                                    </div>
                                    <div class="card__content__source">
                                        <h3 class="card__title">
                                            <a href="https://news.harvard.edu/gazette/story/2018/11/harvards-joe-allen-explains-health-threat-in-calif-wildfire-smoke/">Breathing
                                                uneasily</a>
                                        </h3>
                                        <p class="txt-h6">
                                        </p>
                                        <div class="card__text">
                                            <p>As California fights devastating wildfires, Joe Allen discusses how
                                                smoke threatens health</p>
                                        </div>
                                    </div>
                                    <div class="card__outro">
                                        <div class="card__outro__cta-1">
                                            <a href="https://news.harvard.edu/gazette/story/2018/11/harvards-joe-allen-explains-health-threat-in-calif-wildfire-smoke/"
                                                class="">
                                                Read story
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-33 w-50--m">
                            <div class="card card--nid-10735786 card--gazette gz_campus c-txt-dark card--media-top ">
                                <div class="card__media card__media--img">
                                    <a href="https://news.harvard.edu/gazette/story/2018/11/snapshots-of-the-135th-playing-of-the-game-at-fenway-park/">
                                        <img src="https://www.harvard.edu/sites/default/files/feature_item_media/111718_Harv_Yale_1526_600.jpg"
                                            alt="Harvard football players celebrate by running onto the field after the win "
                                            class="img-sm" />
                                        <img src="https://www.harvard.edu/sites/default/files/feature_item_media/111718_Harv_Yale_1526_300.jpg"
                                            alt="Harvard football players celebrate by running onto the field after the win "
                                            class="img-lg" />
                                    </a>
                                </div>
                                <div class="card__content">
                                    <div class="card__content__heading">
                                        <span class="social-icon">Gazette</span>
                                    </div>
                                    <div class="card__content__source">
                                        <h3 class="card__title">
                                            <a href="https://news.harvard.edu/gazette/story/2018/11/snapshots-of-the-135th-playing-of-the-game-at-fenway-park/">Playing
                                                The Game</a>
                                        </h3>
                                        <p class="txt-h6">
                                        </p>
                                        <div class="card__text">
                                            <p>Harvard took the field at Fenway and defeated Yale, 45-27</p>
                                        </div>
                                    </div>
                                    <div class="card__outro">
                                        <div class="card__outro__cta-1">
                                            <a href="https://news.harvard.edu/gazette/story/2018/11/snapshots-of-the-135th-playing-of-the-game-at-fenway-park/"
                                                class="">
                                                Read story
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-33 w-50--m">
                            <div class="card card--nid-10706711 card--gazette gz_science c-txt-dark card--media-top ">
                                <div class="card__media card__media--img">
                                    <a href="https://news.harvard.edu/gazette/story/2018/11/a-warning-for-a-warming-world/">
                                        <img src="https://www.harvard.edu/sites/default/files/feature_item_media/101718_ClimatArt_867_600.jpg"
                                            alt="A large red, orange, and yellow triangular art installation" class="img-sm" />
                                        <img src="https://www.harvard.edu/sites/default/files/feature_item_media/101718_ClimatArt_867_300.jpg"
                                            alt="A large red, orange, and yellow triangular art installation" class="img-lg" />
                                    </a>
                                </div>
                                <div class="card__content">
                                    <div class="card__content__heading">
                                        <span class="social-icon">Gazette</span>
                                    </div>
                                    <div class="card__content__source">
                                        <h3 class="card__title">
                                            <a href="https://news.harvard.edu/gazette/story/2018/11/a-warning-for-a-warming-world/">Warning:
                                                Warming ahead</a>
                                        </h3>
                                        <p class="txt-h6">
                                        </p>
                                        <div class="card__text">
                                            <p>A new Science Center installation aims to share data and urge action
                                                against climate change</p>
                                        </div>
                                    </div>
                                    <div class="card__outro">
                                        <div class="card__outro__cta-1">
                                            <a href="https://news.harvard.edu/gazette/story/2018/11/a-warning-for-a-warming-world/"
                                                class="">
                                                Read story
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="stitle-home-events-feed c-bg-blue-dark c-txt-white padding-sm" data-moduletitle="home-events-feed">
                <header>
                    <h2 class="txt-h1-alt txt-center  c-txt-white">Events</h2>
                </header>
                <div class="wrapper">
                    <div class="grid grid--4a">
                        <div class="w-50">
                            <div class="grid">
                                <div class="w-50">

                                    <div class="card card--event card--homepage-grid c-txt-dark">
                                        <div class="card__media">
                                            <a href="https://www.harvardartmuseums.org/visit/exhibitions/5699/adam-and-eve"><img
                                                    src="https://www.trumba.com/i/DgDFGabnEDUVIWhssb3G5bU9.jpg" alt="" /></a>
                                        </div>
                                        <div class="card--event__content content-area">
                                            <div class="event-mdt txt-center txt-uppercase">
                                                <p class="card--event__time">
                                                    Friday, November 23, 2018, 10:00am - 5:00pm </p>
                                            </div>
                                            <h3 class="txt-h4"><a href="https://www.harvardartmuseums.org/visit/exhibitions/5699/adam-and-eve"
                                                    class="card--event__link">Adam and Eve</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-50">

                                    <div class="card card--event card--homepage-grid c-txt-dark">
                                        <div class="card__media">
                                            <a href="https://www.radcliffe.harvard.edu/event/2018-measure-exhibition"><img
                                                    src="https://www.trumba.com/i/DgCL4PB8EKLqw73Yv5jMTE-s.jpg" alt="" /></a>
                                        </div>
                                        <div class="card--event__content content-area">
                                            <div class="event-mdt txt-center txt-uppercase">
                                                <p class="card--event__time">
                                                    Friday, November 23, 2018, 12:00pm - 5:00pm </p>
                                            </div>
                                            <h3 class="txt-h4"><a href="https://www.radcliffe.harvard.edu/event/2018-measure-exhibition"
                                                    class="card--event__link">Exhibition: Measure</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-50">
                            <div class="grid">
                                <div class="w-50">

                                    <div class="card card--event card--homepage-grid c-txt-dark">
                                        <div class="card__media">
                                            <a href="https://americanrepertorytheater.org/shows-events/extraordinary/"><img
                                                    src="https://www.trumba.com/i/DgAi3BxQkmix3pIjUvRp89Xk.jpg" alt="" /></a>
                                        </div>
                                        <div class="card--event__content content-area">
                                            <div class="event-mdt txt-center txt-uppercase">
                                                <p class="card--event__time">
                                                    Friday, November 23, 2018, 7:30pm - 9:30pm </p>
                                            </div>
                                            <h3 class="txt-h4"><a href="https://americanrepertorytheater.org/shows-events/extraordinary/"
                                                    class="card--event__link">ExtraOrdinary</a></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-50">

                                    <div class="card card--event card--homepage-grid c-txt-dark">
                                        <div class="card__media">
                                            <a href="https://www.boxoffice.harvard.edu/Online/default.asp?BOparam::WScontent::loadArticle::permalink=capitolsteps"><img
                                                    src="https://www.trumba.com/i/DgCLKkxdjpUbO3q3QR0ms5bd.png" alt="" /></a>
                                        </div>
                                        <div class="card--event__content content-area">
                                            <div class="event-mdt txt-center txt-uppercase">
                                                <p class="card--event__time">
                                                    Saturday, November 24, 2018, 5:00pm </p>
                                            </div>
                                            <h3 class="txt-h4"><a href="https://www.boxoffice.harvard.edu/Online/default.asp?BOparam::WScontent::loadArticle::permalink=capitolsteps"
                                                    class="card--event__link">The Capitol Steps: Make America Grin
                                                    Again</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="txt-center deck__cta-area">
                        <a href="/events" class="btn btn--reverse">
                            See more events
                        </a>
                    </div>
                </div>
            </section>
            <section class="card card--title-callout txt-center stitle-home-online-promo c-bg-crimson c-txt-white"
                data-moduletitle="home-online-promo">
                <div class="wrapper padding-sm">
                    <h2 class="txt-h1-alt card--title-callout__heading c-txt-white">
                        Explore Harvard&#039;s online courses and learning content </h2>
                    <a href="https://online-learning.harvard.edu" class="btn btn--reverse btn--min-width">
                        View Courses
                        <span class="is-visually-hidden">
                            Explore Harvard&#039;s online courses and learning content
                        </span>
                    </a>
                </div>
            </section>
            <section class="stitle-home-multimedia-feature c-bg-white c-txt-dark padding-sm" data-moduletitle="home-multimedia-feature">
                <header>
                    <h2 class="txt-h1-alt txt-center ">Video</h2>
                </header>
                <div class="wrapper">
                    <div class="grid grid--3 grid--3b-mirror">
                        <div class="w-66">
                            <div class="card card--nid-10021861 card--youtube c-txt-dark card--media-top ">
                                <div class="card__media">
                                    <div class="embed-container  card--16-9">

                                        <iframe src="https://www.youtube.com/embed/InOYYY7eG6g?modestbranding=1&title=&autohide=1&wmode=opaque&rel=0&enablejsapi=1"
                                            frameborder="0" allowfullscreen></iframe>

                                    </div>
                                </div>
                                <div class="card__content">
                                    <div class="card__content__heading">
                                        <span class="social-icon">Youtube</span>
                                    </div>
                                    <div class="card__content__source">
                                        <h3 class="card__title">
                                            <a href="https://www.harvard.edu/inauguration-lawrence-s-bacow">Harvard’s
                                                new president Larry Bacow returns to his roots</a>
                                        </h3>
                                        <p class="txt-h6">
                                        </p>
                                        <div class="card__text">
                                            <p>In one of his first official trips as president, Larry Bacow headed back
                                                to his hometown of Pontiac, Michigan, where he revisited childhood
                                                memories and met with students, educators, Harvard alumni, state and
                                                local leaders, and made the national case for college.</p>
                                        </div>
                                    </div>
                                    <div class="card__outro">
                                        <div class="card__outro__cta-1">
                                            <a href="https://www.harvard.edu/inauguration-lawrence-s-bacow" class="">
                                                Inauguration news
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-33">
                            <div class="card card--nid-9534121 card--youtube c-txt-dark card--media-top ">
                                <div class="card__media">
                                    <div class="embed-container  card--16-9">

                                        <iframe src="https://www.youtube.com/embed/MDeOMAvQh68?modestbranding=1&title=&autohide=1&wmode=opaque&rel=0&enablejsapi=1"
                                            frameborder="0" allowfullscreen></iframe>

                                    </div>
                                </div>
                                <div class="card__content">
                                    <div class="card__content__heading">
                                        <span class="social-icon">Youtube</span>
                                    </div>
                                    <div class="card__content__source">
                                        <h3 class="card__title">
                                            Claudine Gay named Dean of Harvard’s Faculty of Arts and Sciences
                                        </h3>
                                        <p class="txt-h6">
                                        </p>
                                        <div class="card__text">
                                            <p>Claudine Gay, a government scholar who has studied political behavior,
                                                citizenship, and inequality in America, is the new dean of the Faculty
                                                of Arts and Sciences.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="txt-center deck__cta-area">
                        <a href="http://www.harvard.edu/about-harvard/multimedia" class="btn ">
                            See more multimedia
                        </a>
                    </div>
                </div>
            </section>
            <section class="rssfeed-module  stitle-home-news-feed-gazette c-bg-green-light c-txt-dark padding-sm"
                data-moduletitle="home-news-feed-gazette">
                <header>
                    <h2 class="txt-h1-alt txt-center ">Latest Harvard Gazette News</h2>
                </header>
                <div class="wrapper">
                                                <h3 class="card__title">
                                                    <a href="https://news.harvard.edu/gazette/story/2018/11/harvard-conference-discusses-the-machinery-to-drive-ed-reform/?utm_medium=Feed&amp;utm_source=Syndication">Harvard
                                                        conference discusses the machinery to drive ed reform</a>
                                                </h3>
                                                <p class="card__timestamp">
                                                    <time datetime="2018-11-21">November 21, 2018</time>
                                                </p>
                                                    In an interview, Harvard’s Paul Reville explains the goals of an
                                                    upcoming conference that invites mayors and school officials to
                                                    discuss how to drive meaningful educational reform. </div>
                                            </div>
                                            <div class="card__outro">
                                                <div class="card__outro__cta-2">
                                                    <a href="https://news.harvard.edu/gazette/story/2018/11/harvard-conference-discusses-the-machinery-to-drive-ed-reform/?utm_medium=Feed&amp;utm_source=Syndication">
                                                        Read more
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-50">
                                    <div class="card c-txt-dark card--gazette">
                                        <div class="card__content">
                                            <div class="card__content__source">
                                                <div class="card__thumb">
                                                    <a href="https://news.harvard.edu/gazette/story/2018/11/giving-thanks-attracts-a-grateful-group-at-university-hall/?utm_medium=Feed&amp;utm_source=Syndication">
                                                        <img src="https://i2.wp.com/news.harvard.edu/wp-content/uploads/2018/10/111318_Giving_001.jpg?resize=250%2C250&amp;ssl=1"
                                                            alt="Giving Thanks attracts a grateful group at University Hall" />
                                                    </a>
                                                </div>
                                                <h3 class="card__title">
                                                    <a href="https://news.harvard.edu/gazette/story/2018/11/giving-thanks-attracts-a-grateful-group-at-university-hall/?utm_medium=Feed&amp;utm_source=Syndication">Giving
                                                        Thanks attracts a grateful group at University Hall</a>
                                                </h3>
                                                <p class="card__timestamp">
                                                    <time datetime="2018-11-21">November 21, 2018</time>
                                                </p>
                                                <div class="card__text">
                                                    Giving Thanks Open House allows Harvard community to share its
                                                    message among colleagues and support the Harvard Square Homeless
                                                    Shelter. </div>
                                            </div>
                                            <div class="card__outro">
                                                <div class="card__outro__cta-2">
                                                    <a href="https://news.harvard.edu/gazette/story/2018/11/giving-thanks-attracts-a-grateful-group-at-university-hall/?utm_medium=Feed&amp;utm_source=Syndication">
                                                        Read more
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-50">
                            <div class="grid">
                                <div class="w-50">
                                    <div class="card c-txt-dark card--gazette">
                                        <div class="card__content">
                                            <div class="card__content__source">
                                                <div class="card__thumb">
                                                    <a href="https://news.harvard.edu/gazette/story/2018/11/back-at-harvard-former-colombian-president-shares-lessons-of-war-peace/?utm_medium=Feed&amp;utm_source=Syndication">
                                                        <img src="https://i0.wp.com/news.harvard.edu/wp-content/uploads/2018/11/101818_Santos_Juan_026_2500.jpg?resize=250%2C250&amp;ssl=1"
                                                            alt="Back at Harvard, former Colombian president shares lessons of war, peace" />
                                                    </a>
                                                </div>
                                                <h3 class="card__title">
                                                    <a href="https://news.harvard.edu/gazette/story/2018/11/back-at-harvard-former-colombian-president-shares-lessons-of-war-peace/?utm_medium=Feed&amp;utm_source=Syndication">Back
                                                        at Harvard, former Colombian president shares lessons of war,
                                                        peace</a>
                                                </h3>
                                                <p class="card__timestamp">
                                                    <time datetime="2018-11-21">November 21, 2018</time>
                                                </p>
                                                <div class="card__text">
                                                    An interview with Juan Manuel Santos, former president of Colombia
                                                    and 2016 Peace Prize winner for his efforts to negotiate an
                                                    agreement that ended a 50-year-long internal conflict and brought
                                                    peace &#8230; </div>
                                            </div>
                                            <div class="card__outro">
                                                <div class="card__outro__cta-2">
                                                    <a href="https://news.harvard.edu/gazette/story/2018/11/back-at-harvard-former-colombian-president-shares-lessons-of-war-peace/?utm_medium=Feed&amp;utm_source=Syndication">
                                                        Read more
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-50">
                                    <div class="card c-txt-dark card--gazette">
                                        <div class="card__content">
                                            <div class="card__content__source">
                                                <div class="card__thumb">
                                                    <a href="https://news.harvard.edu/gazette/story/2018/11/a-fond-sendoff-for-former-harvard-dean/?utm_medium=Feed&amp;utm_source=Syndication">
                                                        <img src="https://i1.wp.com/news.harvard.edu/wp-content/uploads/2018/11/110818_Smith_Mike_133.jpg?resize=250%2C250&amp;ssl=1"
                                                            alt="A fond sendoff for former Harvard dean" />
                                                    </a>
                                                </div>
                                                <h3 class="card__title">
                                                    <a href="https://news.harvard.edu/gazette/story/2018/11/a-fond-sendoff-for-former-harvard-dean/?utm_medium=Feed&amp;utm_source=Syndication">A
                                                        fond sendoff for former Harvard dean</a>
                                                </h3>
                                                <p class="card__timestamp">
                                                    <time datetime="2018-11-20">November 20, 2018</time>
                                                </p>
                                                <div class="card__text">
                                                    Harvard President Bacow, former leader Faust headline a faculty
                                                    sendoff for former Dean Michael Smith of the Faculty of Arts and
                                                    Sciences. </div>
                                            </div>
                                            <div class="card__outro">
                                                <div class="card__outro__cta-2">
                                                    <a href="https://news.harvard.edu/gazette/story/2018/11/a-fond-sendoff-for-former-harvard-dean/?utm_medium=Feed&amp;utm_source=Syndication">
                                                        Read more
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer role="contentinfo" id="footerArea" class="footer-base">
            <div class="wrapper wrapper--1-down content-area">

                <a href="#page" class="jump-to-nav jump-to-nav--hidden">
                    Jump to Top
                </a>
                <div class="grid grid--footer">
                    <div class="w-20 w-33--m">
                        <h1 class="footer__heading txt-h5">
                            Website
                        </h1>
                        <ul ul_attributes="nav-group nav-group--top-bar" display_stickynav="yes" class="list-clean">
                            <li class="menu-449 first"><a href="http://www.accessibility.harvard.edu/" title="Accessibility@0">Accessibility</a></li>
                            <li class="menu-683 last"><a href="/sitemap" title="Sitemap@0">Sitemap</a></li>
                        </ul>
                    </div>
                    <div class="w-20 w-33--m">
                        <h2 class="footer__heading txt-h5">
                            Get in Touch
                        </h2>
                        <ul ul_attributes="nav-group nav-group--top-bar" display_stickynav="yes" class="list-clean">
                            <li class="menu-660 first"><a href="/contact-harvard" title="Contact@2">Contact Harvard</a></li>
                            <li class="menu-2078"><a href="/about-harvard/maps-directions" title="">Maps &amp;
                                    Directions</a></li>
                            <li class="menu-2383"><a href="http://hr.harvard.edu/jobs" title="">Jobs</a></li>
                            <li class="menu-2384 last"><a href="/about-harvard/social-media-and-newsletter-directory"
                                    title="">Social Media</a></li>
                        </ul>
                    </div>
                    <div class="w-20 w-33--m">
                        <h3 class="footer__heading txt-h5">
                            Security &amp; Brand
                        </h3>
                        <ul ul_attributes="nav-group nav-group--top-bar" display_stickynav="yes" class="list-clean">
                            <li class="menu-448 first"><a href="/privacy-statement" title="Privacy@0">Privacy Statement</a></li>
                            <li class="menu-447"><a href="/copyright-issue" title="Infringement@0">Report Copyright
                                    Infringement</a></li>
                            <li class="menu-861"><a href="/security-issue" title="Report Security Issue">Report
                                    Security Issue</a></li>
                            <li class="menu-446 last"><a href="http://trademark.harvard.edu/pages/trademark-notice"
                                    title="TrademarkNotice@0">Trademark Notice</a></li>
                        </ul>
                    </div>
                    <div class="w-footer-last">
                        <h4 class="footer__heading txt-h5 is-visually-hidden">
                            Social Media &amp; other Application Links
                        </h4>
                        <ul class="list-social-links list-clean">
                            <li>
                                <a href="http://facebook.com/harvard" class="social-link social-link--facebook">
                                    <span class="is-visually-hidden">
                                        Facebook
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="http://twitter.com/harvard" class="social-link social-link--twitter">
                                    <span class="is-visually-hidden">
                                        Twitter
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.instagram.com/harvard" class="social-link social-link--instagram">
                                    <span class="is-visually-hidden">
                                        Instagram
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="http://youtube.com/harvard" class="social-link social-link--youtube">
                                    <span class="is-visually-hidden">
                                        YouTube
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://soundcloud.com/harvard" class="social-link social-link--soundcloud">
                                    <span class="is-visually-hidden">
                                        SoundCloud
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="http://plus.google.com/+harvard" class="social-link social-link--google-plus">
                                    <span class="is-visually-hidden">
                                        Google Plus
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/edu/school?id=18483" class="social-link social-link--linkedin">
                                    <span class="is-visually-hidden">
                                        LinkedIn
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.harvard.edu/itunes" class="social-link social-link--itunes">
                                    <span class="is-visually-hidden">
                                        iTunes
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="w-60 other-apps">
                            <a href="/all-harvard-mobile">
                                Harvard Apps
                            </a>
                        </p>
                    </div>
                </div>
                <p class="footer__outro">
                    &copy; 2018 The President and Fellows of Harvard College
                </p>
            </div>
        </footer>
    </div>
</body>
</html>
